[submodule ".registry"]
	path = .registry
	url = https://github.com/wranglezone/wranglezone.r-universe.dev
	branch = HEAD
[submodule "hrmn"]
	path = hrmn
	url = https://github.com/wranglezone/hrmn
[submodule "stbl"]
	path = stbl
	url = https://github.com/wranglezone/stbl
[submodule "tibblify"]
	path = tibblify
	url = https://github.com/wranglezone/tibblify
